// Colors
$primary: #ffc67e;
$secondary: #EEA245;
$body-color: #fff;
// $dark: #1b1b1b;
$form-main-bgr: #454545;

$gray-900: #1b1b1b;

// Fonts
$font-family-gotham: 'Gotham Pro', system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

// Some sizes
$default-border-radius: 10px;