@mixin font-size($px) {
  // Кастыльно, но да ладно
  @if $px == 34 {
  }

  $rem: calc($px / 16);
  font-size: #{$rem}rem;
  line-height: 1.3;
}

@mixin section-title {
  @include font-size(34);
  text-transform: uppercase;
}