// Local variables
$social-btn-border-radius: 5px;

.nako-btn {
  display: inline-block;
  background-color: initial;
  border: initial;
  transition: all .3s;

  // Btn styles
  &.social {
    display: inline-block;
    padding: 10px;
    border: 1px solid;
    border-radius: $social-btn-border-radius;

    svg {
      display: block;
      width: 18px;
      height: 18px;
    }
  }

  &.menu {
    position: relative;
    display: block;
    width: 40px;
    margin-left: 30px;
    padding-left: 0;
    padding-right: 0;

    i {
      display: block;
      width: 100%;
      height: 3px;
      background-color: $primary;
      transition: all .3s;

      &:not(:last-child) {
        margin-bottom: 8px;
      }

      &:nth-child(2) {
        width: 50%;
        margin-left: auto;
      }
    }

    &:hover {
      i {
        &:nth-child(2) {
          width: 100%;
        }
      }
    }

    &.active {
      width: 30px;

      i {
        margin-bottom: 0;

        &:nth-child(1) {
          transform: rotate(-45deg);
        }

        &:nth-child(2) {
          width: 0;
          height: 0;
        }

        &:nth-child(3) {
          transform: rotate(45deg);
          margin-top: -3px;
        }
      }
    }
  }

  // Primary btn
  &.primary {
    text-align: center;
    display: inline-block;
    text-decoration: none;
    background-color: $primary;
    box-shadow: 0px 4px 0px 0px #BD8947;
    border-radius: var(--default-border-radius);
    padding: 21px;
    text-transform: uppercase;
    @include font-size(14);
    font-weight: 700;
    color: #000;

    &.sm {
      padding: 14px;
      @include font-size(12);
      font-weight: 500;
    }

    &:hover {
      background-color: lighten($primary, 7%);
    }

    &:active {
      background-color: #ffaa43;
    }
  }

  &.outline {
    text-align: center;
    border: 1px solid #fff;
    border-radius: var(--default-border-radius);
    padding: 20px;
    color: #fff;
    text-decoration: none;
    transition: all .3s;
    font-weight: 500;

    &.black {
      color: #000;
      border-color: #000;
    }

    &:hover {
      opacity: .8;
    }
  }

  // Btn colors

  &.white {
    &.social {
      border-color: #ffffff;
      color: #ffffff;

      svg {
        fill: #ffffff;
      }
    }
  }
}

.nako-btn-close {
  position: relative;
  display: inline-block;
  background: transparent;
  border: none;
  cursor: pointer;
  width: 22px;
  height: 22px;

  &::before, &::after {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: #000;
    height: 1px;
    width: 22px;
  }

  &::before {
    transform: translate(-50%, -50%) rotate(45deg);
  }

  &::after {
    transform: translate(-50%, -50%) rotate(-45deg);
  }
}

@include media-breakpoint-up(md) {
  .nako-btn {
    &.primary {
      &.lg {
        padding: 28px;
        max-width: 320px;
        width: 100%;
      }
    }
  }
}

@include media-breakpoint-down(md) {
  .nako-btn {
    &.primary {
      &.sm {
        padding: 10px 20px;
        @include font-size(12);
        border-radius: 5px;
      }
    }
  }
}