.nako-card {

  &__image {
    display: inline-block;
    position: relative;
    border-radius: var(--default-border-radius);
    overflow: hidden;
    margin-bottom: 20px;
    cursor: pointer;
    width: 100%;

    &:hover {
      &::after {
        opacity: 1;
      }
    }

    img {
      width: 100%;
      object-fit: cover;
      max-height: 225px;
      object-position: bottom;
    }

    &::after {
      content: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTYiIGhlaWdodD0iMTYiIHZpZXdCb3g9IjAgMCAxNiAxNiIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTguNzg0MzggLTAuMDAwMjQ0MTQxQzQuODA1NyAtMC4wMDAyNDQxNDEgMS41Njg3NiAzLjIzNjY5IDEuNTY4NzYgNy4yMTUzOEMxLjU2ODc2IDguNjI1MzggMS45NzU2IDkuOTQxOTQgMi42Nzc2IDExLjA1NDVMMC40Njk2NjQgMTMuMjYyNUMtMC4xNTY1NTUgMTMuODg4NyAtMC4xNTY1NTUgMTQuOTAzOSAwLjQ2OTY2NCAxNS41MzAxQzEuMDk1ODggMTYuMTU2MyAyLjExMTEzIDE2LjE1NjMgMi43MzcyOSAxNS41MzAxTDQuOTQ1MjMgMTMuMzIyMkM2LjA1Nzg4IDE0LjAyNDIgNy4zNzQ0NSAxNC40MzEgOC43ODQzOCAxNC40MzFDMTIuNzYzMSAxNC40MzEgMTYgMTEuMTk0MSAxNiA3LjIxNTM4QzE2IDMuMjM2NjkgMTIuNzYzMSAtMC4wMDAyNDQxNDEgOC43ODQzOCAtMC4wMDAyNDQxNDFaTTguNzg0MzggMTIuODI3NUM1LjY4OTg1IDEyLjgyNzUgMy4xNzIyMyAxMC4zMDk5IDMuMTcyMjMgNy4yMTUzOEMzLjE3MjIzIDQuMTIwODUgNS42ODk4MiAxLjYwMzIyIDguNzg0MzggMS42MDMyMkMxMS44Nzg5IDEuNjAzMjIgMTQuMzk2NSA0LjEyMDg1IDE0LjM5NjUgNy4yMTUzOEMxNC4zOTY1IDEwLjMwOTkgMTEuODc5IDEyLjgyNzUgOC43ODQzOCAxMi44Mjc1WiIgZmlsbD0id2hpdGUiLz4KPC9zdmc+Cg==');
      display: block;
      position: absolute;
      transform: translate(-50%, -50%);
      left: 50%;
      top: 50%;
      z-index: 1;
      padding: 8px 12px;
      border-radius: 5px;
      background-color: rgba(0, 0, 0, 0.4);
      user-select: none;
      transition: all .3s;
      opacity: 0;
    }
  }

  &__name {
    @include font-size(16);
    font-weight: 500;
  }

  &__text {
    @include font-size(12);
  }

  &__info {

  }
}

.bg-white {
  .nako-card {
    &__name {
      color: $black;
    }

    &__text {
      color: $black;
    }
  }
}

.card-wrapper {
  position: relative;
  background-color: rgba(255, 251, 251, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.1);
  padding: 35px 48px;
  border-radius: $default-border-radius;

  &::before {
    position: absolute;
    content: "";
    width: 80px;
    height: 8px;
    background-color: #fff;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
  }
}

@include media-breakpoint-up(md) {
  .nako-card {
    &__btn {
      width: 100%;
    }
  }
}

@include media-breakpoint-down(md) {
  .nako-card {
    &__btn {
      width: 100%;
    }
  }
}