.section {
  &.dark {
    background-color: $gray-900;

    .section__title {
      color: $white;
    }
  }

  &.light {
    background-color: $white;
    color: $black;

    .section__title {
      color: $black;
    }
  }

  &.adaptive-bgr {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }
}

.section__title {
  @include section-title;
}

.section__description {

}