.bathrooms-list {
  //padding-top: 45px;

  &__title {
    margin-bottom: 28px;
  }

  &__item {
    &__image{
      border-radius: 15px;
      overflow: hidden;
      margin-bottom: 30px;

      img {
        width: 100%;
      }
    }

    &__name {
      @include font-size(20);
      text-transform: uppercase;
      margin-bottom: 20px;
      font-weight: 500;
    }

    &__text {
      @include font-size(14);
      font-weight: 300;
    }
  }
}