.video-review {
  padding-top: 80px;
  padding-bottom: 80px;

  &__title {
    margin-bottom: 15px;
  }

  &__description {
    margin-bottom: 45px;
    @include font-size(14);
  }
}

@include media-breakpoint-up(md) {
  .video-review {
    background-image: url("/assets/img/contact-bgr-left-2.png");
    background-repeat: no-repeat;
    background-position: right top;
  }
}